* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;
    --bg-color: #0F172A;
    --stroke-color: #1E293B;
    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;
    
    --font-family: "Archivo", sans-serif;
    --text: 400 16px/140% var(--font-family);
    --text-h1: 800 24px/135% var(--font-family);
    --text-h2: 800 16px/140% var(--font-family);
    --text-h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text-sm: 400 14/160% var(--font-family);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color-primary);
    font: var(--text);
}

h1, h2, h3 {
    font: inherit;
}

h1 {
    font: bold 24px var(--font-family);
    color: var(--brand-color-light);
}

a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
}

a:hover {
    color: var(--brand-color-light);
}

img {
    display: block;
}

.container {
    max-width: 1280px;
    padding-inline: 32px;
    margin-inline: auto;
}