header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 20px;
    height: 72px;
}

header a {
    gap: 8px;
    height: 20px;
    font: bold 16px/140% var(--font-family);
}