header {
    max-width: 1280px;
    margin-inline: auto;
}

#primary,
#secondary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 32px;
}

#primary {
    padding-block: 20px;

    a {
        gap: 8px;
        font: var(--text-h2);
    }
}

#secondary {
    padding-block: 14px;
    border-block: 1px solid var(--stroke-color);

    a {
        font: var(--text-span);
        color: var(--text-color-secondary);
    }
}